<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <title>Social Media Tracking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
	</head>
	
	<body style="background-color:lightgrey">
	<div class="container">
		<h1 style="padding:20px 0; text-align: center">User Information Chart</h1>
		<div id="container"
			style="width: 700px; height: 500px; margin: 0 auto">
		</div>
		<a style ="float: right" class="btn btn-xs btn-secondary" href="/socialMediaRecord">Return to the main page</a> 
	</div>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Record based on age and name'
        },
        xAxis: {
            categories: [[${name}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max:100,
            title: {
                text: 'Age'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
            '<td style="padding:0"><b>{point.y} years old</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Name',
            data: [[${age}]]
        }]
      });
    });
</script>

</body>
</html>